.mapContainer {
    border: 1px solid red;
    overflow: hidden;
    perspective: 350px;
}

.innerMapContainer {
    overflow: hidden;
    border: 5px solid #005cbf;
    position: relative;
    cursor: move;
}

.factoryMap{
    background-image: url(https://img.pngio.com/transparent-grid-png-free-transparent-gridpng-transparent-transparent-grid-2000_1000.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}
