.mapContainer {
    border: 1px solid red;
    overflow: hidden;
    perspective: 350px;
}

.innerMapContainer {
    overflow: hidden;
    border: 5px solid #005cbf;
    position: relative;
    cursor: move;

    transform: rotateX(15deg);
}